.button {
  display: block;
  padding: 12px;

  color: $charcoal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  border: 2px solid $charcoal;
  background-color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: $charcoal;
  }

  &:active {
    color: $white-30;
  }
}
