.card {
  display: flex;
  flex-direction: column;
}

.card:hover .card__card-wrapper {
  box-shadow: 0 6px 10px 0 $black-10;
}

.card:active .card__card-wrapper {
  box-shadow: 0 3px 5px 0 $black-10;
}

.card__preview {
  position: relative;
  display: block;
}

.card__preview-image {
  display: block;
  width: 260px;
  height: 195px;
}

.card__card-wrapper {
  flex-grow: 1;
  padding-top: 26px;
  padding-left: 28px;
  padding-bottom: 27px;
  padding-right: 28px;

  border: 1px solid $gray;
  background-color: $white;
  transition: box-shadow 0.15s;
}

.card__link {
  color: $black;
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.card__description {
  padding-bottom: 19px;
}

.card__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
}

.card__details {
  margin: 0;

  color: $charcoal;
  font-size: 13px;
  line-height: 30px;
}

.card__order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 21px;
  // А сама идея делать такого рода бордеры нормальна?
  border-top: 1px solid #ececec;
}

.card__price {
  font-size: 15px;
  font-weight: bold;
}

.card__cart {
  position: relative;

  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.card__cart:hover .card__cart-icon,
.card__cart:focus .card__cart-icon {
  fill: $seafoam-blue;
  fill-opacity: 1;
}

.card__cart:active .card__cart-icon {
  fill-opacity: 0.3;
}

.card__cart-icon {
  position: absolute;
  top: 1px;
  left: 6px;

  width: 21px;
  height: 19px;

  fill: #231f20;
  fill-opacity: 0.2;

  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .card {
    flex-direction: row;
  }

  .card__preview {
    flex-shrink: 0;
  }

  .card__preview-image {
    /* Это временно, пока я не сделаю картинки под планшет+десктоп
      а то они в мобильной версии ландшафтом идут, а планшет+ идет портретом
    */
    width: 334px;
    height: 334px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__details {
    font-size: 15px;
  }

  .card__card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 316px;
    padding-left: 25px;
  }

  .card__description {
    padding-bottom: 0;
  }

  .card__order {
    margin-top: 12px;
  }

  .card__price {
    padding-left: 5px;
    font-size: 17px;
  }

  .card__cart-icon {
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .card {
    flex-direction: column;
  }

  .card__preview-image {
    width: 316px;
    height: 462px;
  }

  .card__card-wrapper {
    min-height: 197px;
    padding-top: 25px;
    padding-left: 27px;
  }

  .card__price {
    padding-left: 0;
  }
}
