.categories__list {
  @include list-style-reset;
}

.categories__item {
  min-height: 103px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-weight: bold;
  background-color: $seafoam-blue;

  &--toys {
    background-color: $greeny-blue;
  }
}

.categories__link {
  @include link-style-reset;

  color: $white;
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
  }

  .categories__item {
    width: 50%;
  }
}
