.form__field {
  border: none;
  border-top: 1px solid $seafoam-blue;
}

.form__field-name {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $seafoam-blue;
  text-transform: uppercase;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__input {
  font-size: 17px;
  line-height: 18px;
}

.form__hint {
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;
}
