.knitting__description {
  margin: 0;
  margin-bottom: 24px;

  font-size: 13px;
  color: $charcoal;
}

@media (min-width: $tablet-width) {
  .knitting__description {
    margin-bottom: 6px;
    padding-left: 52px;
    padding-right: 52px;

    font-size: 17px;
    line-height: 30px;
  }
}
