.knitting__description {
  margin-bottom: 24px;
  padding-right: 30px;
  padding-left: 30px;

  font-size: 13px;
  color: $charcoal;
}

@media (min-width: $tablet-width) {
  .knitting__description {
    margin-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .knitting__description {
    margin-bottom: 4px;
    padding-top: 49px;
    padding-left: 225px;
    padding-right: 225px;
  }
}
