.main-nav {
  position: relative;
}

.main-nav__wrapper {
  padding-top: 1px;
}

.main-nav__logo {
  display: flex;
  justify-content: center;

  padding-top: 22px;
  padding-bottom: 14px;

  border-top: 1px solid $white-two;
  border-bottom: 1px solid $white-two;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__info {
  display: none;
}

.main-nav__list {
  @include list-style-reset;

  &--secondary {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    margin-top: 79px;
  }

  .main-nav__wrapper {
    position: absolute;
    top: -79px;

    width: 100%;
    background-color: $white;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav__menu {
    position: absolute;
    top: -45px;
    right: 32px;
    z-index: 1;

    width: 20px;
    height: 14px;

    border: none;

    background-color: transparent;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  .main-nav--opened .main-nav__menu {
    width: 21px;
    height: 20px;

    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav--opened .main-nav__list:not(.main-nav__list--secondary) {
    display: block;
  }

  .main-nav--no-js {
    margin-top: 0;
  }

  .main-nav--no-js .main-nav__menu {
    display: none;
  }

  .main-nav--no-js .main-nav__wrapper {
    position: static;
    top: auto;
  }

  .main-nav--no-js .main-nav__list:not(.main-nav__list--secondary) {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    // для того, чтобы блоки списков как будто "выпадали"
    // из потока хедера и свисали под ним
    height: 89px;
    border-bottom: 1px solid $black-10;
  }

  .main-nav__menu {
    display: none;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 50px;
    padding-right: 50px;
  }

  .main-nav__logo {
    justify-content: flex-start;
    width: 322px;
    padding-top: 21px;
    padding-bottom: 14px;

    border: none;
  }

  .main-nav__logo-image {
    width: 112px;
  }

  .main-nav__list {
    display: flex;
    // flex-grow: 1;

    &--secondary {
      display: none;
    }

    &:first-of-type {
      order: 1;

      font-size: 15px;
      line-height: 24px;
      border: none;
    }
  }

  .main-nav__info {
    display: block;
    order: 3;

    margin: 0;
    // Всегда будет отталкиваться вправо, чтобы при переполнении ок было
    margin-left: auto;
    padding-top: 18px;

    font-size: 15px;
    color: $charcoal;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    width: 327px;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 77px;
  }

  .main-nav__logo-image {
    width: 149px;
  }

  .main-nav__list {
    &--secondary {
      display: flex;
      font-size: 15px;
      line-height: 24px;
    }

    &:first-of-type {
      order: -1;

      font-size: 17px;
    }
  }
}
