.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 320px;
  height: 336px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  padding-left: 30px;

  background-color: $white;
  border: 1px solid $silver;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .modal {
    width: 566px;

    padding-left: 105px;
    padding-right: 105px;
  }
}
