.page-header {
  position: relative;
  z-index: 3;

  width: 100%;
  border-bottom: 1px solid $white-two;

  margin: 0 auto;
}

.page-header__wrapper {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;

    min-height: 88px;
    border-bottom: 1px solid $black-10;
  }

  .page-header__wrapper {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: $desktop-width;
  }
}
