.page-footer {
  width: 100%;

  background-color: $gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;

  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.page-footer__social {
  padding-bottom: 20px;
  border-bottom: 1px solid $whisper;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo:hover .page-footer__logo-image,
.page-footer__logo:focus .page-footer__logo-image {
  fill: $puerto-rico;
}

.page-footer__logo:active .page-footer__logo-image {
  fill-opacity: 0.3;
}

.page-footer__logo-image {
  width: 102px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;

    /* на макете видны по бокам пиксельные отступы */
    width: 768px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 41px;
    padding-left: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 160px;
  }

  .page-footer__social {
    min-height: 52px;
    margin-right: 72px;
    padding-bottom: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width;
  }

  .page-footer__logo {
    margin-right: 350px;
  }

  .page-footer__social {
    margin-right: 263px;
  }
}
