.user-list__item {
  border-bottom: 1px solid $white-two;

  &:last-child {
    margin-right: 0;
  }
}

.user-list__link {
  position: relative;

  display: block;
  padding-top: 27px;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-left: 76px;

  color: $black;
  text-decoration: none;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $black-60;
  }

  &:active {
    color: $black-30;
  }
}

.user-list__link:hover .user-list__icon,
.user-list__link:focus .user-list__icon {
  fill: $seafoam-blue;
  fill-opacity: 1;
}

.user-list__link:active .user-list__icon {
  fill: $seafoam-blue;
  fill-opacity: 0.3;
}

.user-list__icon {
  position: absolute;
  top: 32px;
  left: 32px;

  fill: #231f20;
  fill-opacity: 0.2;

  &--search {
    width: 18px;
    height: 18px;
  }

  &--cart {
    left: 30px;

    width: 21px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .user-list__item {
    border: none;
    border-left: 1px solid $white-two;

    &--search {
      font-size: 0;
      width: 83px;
    }
  }

  .user-list__link {
    padding-top: 31px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-left: 81px;
  }

  .user-list__icon {
    top: 35px;
  }
}
