/* Media sizes */
$mobile-width: 320px;
$mobile-width-only: 767px;

$tablet-width: 768px;
$desktop-width: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


/* Colors */
$black: #000000;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$black-10: rgba(0, 0, 0, 0.1);
$very-dark-brown: #010000;
$charcoal: #444444;
$silver: #c6c6c6;
$gray: #f1f1f1;
$lightgray: #ededed;

$white: #ffffff;
$white-30: rgba(255, 255, 255, 0.3);
$white-two: #ececec;
$whisper: #e5e5e5;

$seafoam-blue: #63d1bb;
$seafoam-blue-two: #62d1ba;
$greeny-blue: #56c3b2;
$puerto-rico: #46c1ae;
$pine-green: #149080;
